.header {
  min-height: 600px;
  max-height: 756px;
  height: 100vh;
  /* выше установили ограничения для секции */
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-color: #f2f2f2;
  overflow: hidden;
}
