.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header {
  min-height: 600px;
  max-height: 756px;
  height: 100vh;
  /* выше установили ограничения для секции */
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-color: #f2f2f2;
}

.logo {
  width: 228px;
  height: 32px;

}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 3;
}

.header__title {
  margin: 0;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  max-width: 730px;
  margin-left: 64px;
  z-index: 3;

}

.header__subtitle {
  margin: 0;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 3;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  height: 608px;
  width: 765px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  object-fit: cover;
}

.header__square-pic {
  margin: 0;
  background-color: #2f80ed;
  min-height: 568px;
  min-width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 1;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* блок description*/
.description {
  width: 100%;
  margin-top: 100px;
  align-items: center;

}

.two-columns {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  margin: 0;
  min-width: 784px;
  width: 80%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  display: flex;
  flex-direction: column;
}

.two-columns__paragraph {
  margin-top: 0;
  margin-bottom: 30px;

}

.two-columns__paragraph:last-child {
  margin: 0;
}

.two-columns__span-accent {
  font-weight: 600;
}

/* блок digits*/
.digits {
  width: 100%;
  margin-top: 100px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.section-title {
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 20px 0 0;
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 0;
  justify-content: space-between;

}

.table__cell {
  width: 250px;
  vertical-align: top;
  display: inline-block;
  padding: 60px 0 0;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  margin: 20px 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/* блок feynman*/
.feynman {
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 890px;
  background-color: #f2f2f2;

}

.feynman__title {
  margin: 0;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
  z-index: 2;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 70px 0 0;
  z-index: 2;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  position: absolute;
  right: 48px;
  top: 50%;
  z-index: 2;
}

.feynman__illustration {
  height: 637px;
  width: 867px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  object-fit: cover;

}

/* блок kaufman*/
.kaufman {
  width: 100%;
  margin: 0;
  background-color: #1f1f1f;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  /* чтобы треугольник можно было позиционировать абсолютно*/
  overflow: hidden;
}

.table_theme_dark {
  margin: 0 0 90px;
  z-index: 2;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-title_theme_dark {
  margin: 90px 0 0;
  color: #ffffff;
  z-index: 3;
}

.section-subtitle_theme_dark {
  color: #ffffff;
}

.table__cell_theme_dark {
  width: 200px;
  padding: 80px 0 0;
}

.table__heading_theme_dark {
  color: #ffffff;
}

.table__text_theme_dark {
  color: #ffffff;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  background-size: contain;
}

/* подвал */
.footer {
  box-sizing: border-box;
  width: 100%;
  min-height: 350px;
  padding: 60px 0 40px;
  background-color: #1f1f1f;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer__columns {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__column {
  display: flex;
  color: #ffffff;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
  background-size: cover;
}

.footer__author {
  color: #ffffff;
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_info {
  flex-direction: column;
  align-items: flex-start;

}

.footer__column_content_social {
  flex-direction: column;
  align-items: flex-start;
}

.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-weight: 600;
  font-size: 18px;
}

.footer__column-links {
  margin: 20px 0 16px;
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style-type: none;
}

.footer__column_paragraph {
  margin: 0;
}

.footer__column-link {
  margin: 0;
  color: #ffffff;
  text-decoration: none;
  display: inline;
}

.footer__social-icon {
  margin: 0 10px 0 0;
  width: 16px;
  height: 16px;
}
